{% extends "layouts/default.html" %}
{% block title %}kissing-schottky{% endblock %}
{% block content %}
<h1>kissing-schottky group</h1>
<canvas id="canvas" width="600" height="600"></canvas><br>
{% endblock %}
{% block scripts %}
<script src="contents/kissing-schottky/js/line.js"></script>
<script src="contents/kissing-schottky/js/complex.js"></script>
<script src="contents/kissing-schottky/js/circle.js"></script>
<script src="contents/kissing-schottky/js/common-circle.js"></script>
<script src="contents/kissing-schottky/js/matrix.js"></script>
<script src="contents/kissing-schottky/js/util.js"></script>
<script src="contents/kissing-schottky/js/bfs-operator.js"></script>
<script src="contents/kissing-schottky/js/main.js"></script>
{% endblock %}
